@page
@model PBL3_Project.Pages.Admin.QLACGS.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>AccountGiaSu</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="AccountGiaSu.TenAcc" class="control-label"></label>
                <input asp-for="AccountGiaSu.TenAcc" class="form-control" />
                <span asp-validation-for="AccountGiaSu.TenAcc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AccountGiaSu.PasswordAcc" class="control-label"></label>
                <input asp-for="AccountGiaSu.PasswordAcc" class="form-control" />
                <span asp-validation-for="AccountGiaSu.PasswordAcc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
