@page
@model PBL3_Project.Pages.Admin.QLHSGS.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>HoSoGiaSu</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="HoSoGiaSu.TenAcc" class="control-label"></label>
                <input asp-for="HoSoGiaSu.TenAcc" class="form-control" />
                <span asp-validation-for="HoSoGiaSu.TenAcc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HoSoGiaSu.PasswordAcc" class="control-label"></label>
                <input asp-for="HoSoGiaSu.PasswordAcc" class="form-control" />
                <span asp-validation-for="HoSoGiaSu.PasswordAcc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HoSoGiaSu.TenGiaSu" class="control-label"></label>
                <input asp-for="HoSoGiaSu.TenGiaSu" class="form-control" />
                <span asp-validation-for="HoSoGiaSu.TenGiaSu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HoSoGiaSu.DiaChi" class="control-label"></label>
                <input asp-for="HoSoGiaSu.DiaChi" class="form-control" />
                <span asp-validation-for="HoSoGiaSu.DiaChi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HoSoGiaSu.SoDienThoai" class="control-label"></label>
                <input asp-for="HoSoGiaSu.SoDienThoai" class="form-control" />
                <span asp-validation-for="HoSoGiaSu.SoDienThoai" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HoSoGiaSu.Email" class="control-label"></label>
                <input asp-for="HoSoGiaSu.Email" class="form-control" />
                <span asp-validation-for="HoSoGiaSu.Email" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="HoSoGiaSu.GioiTinh" /> @Html.DisplayNameFor(model => model.HoSoGiaSu.GioiTinh)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="HoSoGiaSu.Tuoi" class="control-label"></label>
                <input asp-for="HoSoGiaSu.Tuoi" class="form-control" />
                <span asp-validation-for="HoSoGiaSu.Tuoi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HoSoGiaSu.MonHoc" class="control-label"></label>
                <input asp-for="HoSoGiaSu.MonHoc" class="form-control" />
                <span asp-validation-for="HoSoGiaSu.MonHoc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HoSoGiaSu.TrinhDoHocVan" class="control-label"></label>
                <input asp-for="HoSoGiaSu.TrinhDoHocVan" class="form-control" />
                <span asp-validation-for="HoSoGiaSu.TrinhDoHocVan" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HoSoGiaSu.HocPhi" class="control-label"></label>
                <input asp-for="HoSoGiaSu.HocPhi" class="form-control" />
                <span asp-validation-for="HoSoGiaSu.HocPhi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
