@page
@model PBL3_Project.Pages.Tutor.TReviewModel
@{
    Layout = "_TLayout";
    ViewData["title"] = "Đánh giá Gia sư";
}

<link rel="stylesheet" href="~/css/main.css">
<link rel="stylesheet" href="~/css/Personal.css" />
<link rel="stylesheet" href="~/css/ChangePassGS.css" />

<body>

        <!-- filter -->
        <div class="container">
            <div class="control">
                <img class="avatar" src="~img/avar.jpg" alt="Avatar" />
                <div class="user-info">
                    <div class="username">Gia sư</div>
                    <img src="~img/iconControl.png" alt="Logo" class="iconControl" />
                </div>
            </div>

            <div class="menu">

                <div class="choice">
                    <ul>
                        <li>
                            <a asp-page="/Tutor/TProfile"><u>Thông tin tài khoản</u> </a>
                        </li>
                        <li>
                            <a asp-page="/Tutor/TInfo"><u>Quản lý hồ sơ <br><br></u></a>
                        </li>
                        <li>
                            <u> Quản lý bài đăng :<br><br></u>
                            <ul>
                                <li style="color: white;"><a asp-page="/Tutor/TDangKiPost">Suất dạy đã đăng kí </a></li>
                                <li style="color: white;"><a asp-page="/Tutor/TDonePost">Suất dạy được nhận</a></li>
                                <li style="color: white;"><a asp-page="/Tutor/TReview">Đánh giá của tôi</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>

            </div>
        </div>

        <main>
            @{
                foreach (var phanhoi in Model.PhanHois)
                {
                    <partial name="_PhanHoi" model="phanhoi"></partial>
                }
            }

        </main>

    
</body>