body {
    background-color: #fff;
}


/* Global Settings */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Lato', sans-serif;
}

/* Navigation */

nav {
    height: 7rem;
    background-color: #002182;
    width: 100%;
}

.logo-box {
    height: 100%;
    float: left;
}

.logo {
    height: 100%;
    padding-left: 5rem;
}

.log-out-box {
    height: 10%;
    float: right;
    padding: 8px 0px;
    gap: 10px;
    position: absolute;
    top: 0px;
    right: 10px;
    margin-right: -150px;
    margin-top: 10px;
}




.nav-links {
    position: absolute;
    top: 3;
    right: 205px;
    width: 85%;
    list-style: none;
    text-align: center;
}

    .nav-links li {
        display: inline-block;
        padding: 0 1.5rem;
        font-size: 1.6rem;
        position: relative;
        margin-top: 2%;
    }



        .nav-links li a:link,
        .nav-links li a:visited {
            color: #fff;
            display: inline-block;
            text-decoration: none;
            padding: 1rem 0;
            transition: all 0.2s;
        }

        .nav-links li a:hover,
        .nav-links li a:active {
            background-color: #F1BB45;
            color: #fff;
        }



header {
    height: 22vh;
    background-position: right;
    position: relative;
    size: 79cap;
}

.btn {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #F1BB45;
    color: #000;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

    .btn:hover {
        background-color: #45a049;
    }



.control {
    position: relative;
    display: flex;
    align-items: center;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
    width: 25%;
    height: 80px;
    color: #fff;
    font-size: medium;
    background-color: #002182;
    margin-left: 10px;
}

.avatar {
    width: 63px;
    height: 63px;
    border-radius: 50%;
    margin-right: 10px;
}

.user-info {
    display: flex;
    align-items: center;
    margin-left: 15px;
}

.username {
    font-weight: bold;
    margin-right: 10px;
}

.fa-sort {
    position: relative;
    font-size: 200px;
    color: #F1BB45;
}



nav a {
    font-size: 16px;
    color: #333;
    margin-left: 20px;
    text-decoration: none;
    transition: color 0.3s ease;
}


.search {
    display: flex;
    margin-top: -40px;
}



#search-bar {
    width: 300px;
    padding: 10px;
    border: none;
    border-bottom: solid 1px grey;
    font-size: 16px;
    margin-left: 680px;
    border-radius: 10px;
}

button[type="submit"] {
    margin-left: -40px;
    background-color: white;
    color: white;
    border: grey;
    cursor: pointer;
    height: 37px;
    width: 37px;
    border-radius: 100%;
}

    button[type="submit"]:hover {
        background-color: gray;
    }





.iconControl {
    height: 40px;
    width: 50px;
    margin-left: 38px;
}

.caption {
    margin-left: 18px;
    font-size: 20px;
    color: #000;
    margin-bottom: 20px;
    position: initial;
}

button[type="submit"]:hover {
    background-color: gray;
}


.image-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
}

.button-image {
    width: 75%;
    height: 75%;
    border-radius: 25%;
}

.menu {
    float: left;
    width: 25%;
    text-align: left;
    padding: 30px;
    margin-top: 30px;
    background-color: #F1BB45;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    position: relative;
    margin-left: 10px;
}


    .menu .TTTK {
        font-size: 18px;
        margin-bottom: 20px;
        position: initial;
    }

.TTTK a {
    text-decoration: none;
    color: #000;
}


.form-control {
    margin-bottom: 20px;
}

    .form-control label {
        display: block;
        font-size: 18px;
        color: #000;
        margin-bottom: 10px;
    }

    .form-control select {
        width: 100%;
        padding: 10px;
        font-size: 16px;
        border: none;
        background-color: #f5f5f5;
        border-radius: 5px;
        box-shadow: none;
    }



.container1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    background-color: #D9D9D9;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0,0,0,2);
    padding: 20px;
    width: 550px;
    height: 500px;
    margin-top: -600px;
    margin-left: 300px;
    font-size: 120%;
}

    .form input[type="submit"] {
        background-color: #002182;
        color: #fff;
        padding: 10px 20px;
        border: none;
        border-radius: 15px;
        cursor: pointer;
    }

        .form input[type="submit"]:hover {
            background-color: #3e8e41;
        }


    .form label {
        padding-right: 120px;
    }

    .form strong {
        font-weight: bolder;
    }

    .form input[type="text"], .form input[type="password"] {
        display: block;
        width: 100%;
        margin-bottom: 10px;
        padding: 10px;
        border-radius: 5px;
        border: none;
    }

.background {
    height: 300px;
    width: 245px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    margin-top: 140px;
    opacity: 0.5;
}

.footer {
    padding-top: 190px;
}

.save-button {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 60px;
}

    .save-button:hover {
        background-color: #3e8e41;
    }
