@page
@model RegisterModel
@{
    Layout = null;
    ViewData["title"] = "Đăng kí";
}

<link rel="stylesheet" href="~/css/register.css" />
<link rel="stylesheet" href="~/css/style.css" />

<body>
    <header>
        <nav>
            <div class="logo-box">
                <img src="~/img/logo.png" alt="Logo" class="logo" />
            </div>
            <ul class="nav-links">
                <div class="sign-up-box">
                    <a asp-page="/Account/Register" class="btn btn-su" style="text-decoration: none">Đăng ký</a>
                    <a asp-page="/Account/Login" class="btn btn-su" style="text-decoration: none">Đăng nhập</a>
                </div>
            </ul>
        </nav>

        <div class="container">
            <h2>ĐĂNG KÝ</h2>
            <form method="post" asp-page-handler="CreateAcc">
                <div> 
                    <label for="Email">Email</label> <br />
                    <input type="text" id="email" name="email" asp-for=Model.Email />
                    <span asp-validation-for="Model.Email" class="text-danger"></span>
                </div>
                
                <div>
                    <label for="password">Password</label>
                    <input type="password" id="password1" name="password1" asp-for=Model.Password />
                    <span asp-validation-for="Model.Password" class="text-danger"></span>
                </div>
                
                <div>
                    <label for="password">Confirm Password</label>
                    <input type="password" id="password2" name="password2" asp-for=Model.ConfirmPassword />
                    <span asp-validation-for="Model.Password" class="text-danger"></span>
                </div>

                <div class="radio-group">
                    <label><input type="radio" name="user-type" value="tutor" asp-for=Model.isParent checked> Gia sư</label>
                    <label><input type="radio" name="user-type" value="parent"> Phụ huynh</label>
                </div>

                <!-- <button type="submit">Đăng nhập</button> -->
                <a><button class="btn-Register" type="button">Đăng ký</button></a>
                <div asp-validation-summary="All" class="text-danger"></div>
            </form>

        </div>
    </header>
</body>
</html>

