<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PBL3 Project</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/main.css" />
    <link rel="stylesheet" href="~/WebApplicationRAZOR.styles.css" asp-append-version="true" />
</head>
<body>
        @*<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">WebApplicationRAZOR</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Index">Trang chủ</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Privacy">Hồ sơ cá nhân</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text dark" asp-area="">Đăng xuất</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>*@

        <header>
            <nav>
                <div class="logo-box">
                    <img src="~/img/logo.png" alt="Logo" class="logo">
                </div>
                <ul class="nav-links">
                    <li><a href="main.html">Trang chủ</a></li>
                    <li><a href="Personal.html">Cá nhân</a></li>

                    <div class="log-out-box">
                        <a href="index.html" class="btn btn-su">Đăng xuất</a>
                    </div>

                </ul>
            </nav>
        </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer>
        <div class="footer">
            <img src="~/img/footer.png" alt="footer" class="footer" height="25%" width="100%">
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>