<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PBL3 Project</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/main.css" />
    <link rel="stylesheet" href="~/WebApplicationRAZOR.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav>
            <div class="logo-box">
                <img src="~/img/logo.png" alt="Logo" class="logo">
            </div>
            <ul class="nav-links">
                <li><a asp-page="/Parent/PHome">Trang chủ</a></li>
                <li><a asp-page="/Parent/PProfile">Thông tin cá nhân</a></li>

                <div class="log-out-box">
                    <a asp-page="/Index" class="btn btn-su">Đăng xuất</a>
                </div>

            </ul>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer>

        <div class="footer">
            <img src="~/img/footer.png" alt="footer" class="footer" height="25%" width="100%">
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>