@page
@model PBL3_Project.Pages.AboutModel
@{
}
@{
    Layout = null;
}

<title>Home Page</title>
<link rel="stylesheet" href="~/css/style.css" />
  

<body>
    <header>
        <nav>
            <div class="logo-box">
                <img src="~/img/logo.png" alt="Logo" class="logo" />
            </div>
            <ul class="nav-links">
                <li><a asp-page="#">GIỚI THIỆU</a></li>
                <li><a asp-page="/Account/Register">ĐĂNG KÍ PHỤ HUYNH</a></li>
                <li><a asp-page="/Account/Register">ĐĂNG KÍ GIA SƯ</a></li>
                <li><a asp-page="#">LIÊN HỆ</a></li>
                <li>
                    <div class="sign-up-box">
                        <a asp-page="/Account/Login" class="btn btn-su" style="text-decoration: none">Đăng nhập</a>
                    </div>
                </li>
            </ul>
        </nav>
    </header>

    <div class="backgroundhero">
        <div class="hero-text-box">
            <br />
            <br />
            <h1>LTMTUTOR</h1>
            <h1>
                MÔI TRƯỜNG KẾT NỐI GIA SƯ VỚI NGƯỜI HỌC NHANH, TIỆN LỢI, MỌI LÚC MỌI
                NƠI
            </h1>
            <br /><br />
            <p>
                Dành cho mọi học sinh, mọi lứa tuổi.<br />
                <br />
                Chúng tôi là một tổ chức phi lợi nhuận với sứ mệnh tạo nên một môi
                trường giúp tương tác giữa gia sư và người học một cách nhanh chóng,
                thuận lợi và hiệu quả.
            </p>
            <br />
            <br />
            <a asp-page="/Account/Login" class="btn btn-full"> Tìm gia sư </a>
            <br />
            <a asp-page="/Account/Register" class="btn btn-ghost">Đăng kí gia sư</a>
        </div>
        <div class="background">
            <img src="~/img/background.png"
                 alt="background"
                 class="background"
                 height="400px" />
        </div>
    </div>

    <a asp-page="/Parent/CreatePost" class="btn btn-danger">Hello</a>

    <footer>
        <div class="footer">
            <img src="~/img/footer.png"
                 alt="footer"
                 class="footer"
                 height="188px"
                 width="1200px" />
        </div>
    </footer>
</body>

