@page
@model IndexModel
@{
    ViewData["Title"] = "Đăng nhập";
}

@*@{
    Layout = null;
}*@


<div class="text-center">
    <h1 class="display-4">Đăng nhập</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
