@page
@using PBL3_Project.Models
@model WebApplicationRAZOR.Pages.Parent.PHomeModel
@{
}

@{
    Layout = "_PLayout";
    ViewData["title"] ="Trang chủ Phụ huynh";
}

@{
    var bd1 = new BaiDang()
            {
                ID_BaiDang = 1,
                ID_PhuHuynh = 2,
                TrinhDoHocVan = "Sinh viên",
                MonHoc = "Sinh học",
                HocPhi = 600000,
                Lop = "11",
                SoBuoi = 3,
                SoHocVien = 5,
                TinhTrang = true,
                ThoiGian = "19:00 Thứ 2, 4, 6",
                DiaChi = "123 Điện Biên Phủ",
                GhiChu = "Học và ôn tập liên thông lên 12",
            };
    var bd2 = new BaiDang()
            {
                ID_BaiDang = 2,
                ID_PhuHuynh = 3,
                TrinhDoHocVan = "Giáo viên",
                MonHoc = "Toán",
                HocPhi = 900000,
                Lop = "12",
                SoBuoi = 3,
                SoHocVien = 2,
                TinhTrang = true,
                ThoiGian = "17:00 Thứ 2, 3, 6",
                DiaChi = "54 Nguyễn Lương Bằng",
                GhiChu = "Ôn tập kĩ để thi đại học",
            };
    var bd3 = new BaiDang()
            {
                ID_BaiDang = 3,
                ID_PhuHuynh = 1,
                TrinhDoHocVan = "Sinh viên",
                MonHoc = "Hóa học",
                HocPhi = 200000,
                Lop = "10",
                SoBuoi = 2,
                SoHocVien = 3,
                TinhTrang = false,
                ThoiGian = "14:30 Thứ 4, CN",
                DiaChi = "17 Ngô Thì Nhậm",
                GhiChu = "Lấy gốc cho học viên",
            };
}

<link rel="stylesheet" href="~/css/main.css">
<script src="main.js"></script>

<body>

    <div class="container">
        <img src="~/img/FilterSearch.png" alt="FilSearch" id="FilSearch">
        <!-- filter -->
        <div class="filter">

            <div class="form-control">
                <label>Môn học:</label>
                <select>
                    <option value="math">Toán</option>
                    <option value="physics">Vật lý</option>
                    <option value="chemistry">Hóa học</option>
                    <option value="history">Ngữ văn</option>
                    <option value="english">Tiếng Anh</option>
                    <option value="english">Tiếng Trung</option>
                    <option value="history">Lịch sử</option>
                    <option value="history">Sinh học</option>
                </select>
            </div>
            <div class="form-control">
                <label>Lớp:</label>
                <select>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>

                </select>
            </div>
            <div class="form-control">
                <label>Khu vực:</label>
                <select>
                    <option value="hanoi">Hà Nội</option>
                    <option value="hochiminh">TP Hồ Chí Minh</option>
                    <option value="danang">Đà Nẵng</option>
                </select>
            </div>

            <div class="form-control">
                <label>Học phí:</label>
                <input id="inputrange" type="range" value="0" min="0" max="1000" oninput="this.nextElementSibling.value = this.value">
                <output class="fee">0</output>
                <output class="fee">.000 (VNĐ/h)</output>
            </div>

            <div class="form-control">
                <label>Số học viên:</label>
                <input id="inputrange" type="range" value="0" min="0" max="20" oninput="this.nextElementSibling.value = this.value">
                <output class="fee">0</output>

            </div>

            <div class="form-control">
                <label>Số buổi:</label>
                <input id="inputrange" type="range" value="0" min="0" max="7" oninput="this.nextElementSibling.value = this.value">
                <output class="fee">0</output>

            </div>

            <a href="#" class="btn btn-del">Xóa tất cả</a>
            <a href="#" class="btn btn-find">Áp dụng</a>
            <a asp-page="/CreatePost" class="btn btn-create">Tạo bài đăng</a>

        </div>

        <main>
            <div class="row">
                <div class="col">
                    <partial name="_Post" model="bd1" />
                </div>
                <div class="col">
                    <partial name="_Post" model="bd2" />
                </div>
            </div>
            
            
           @* <partial name="_Post" model="bd3"/>*@

        </main>

        <div id="pagination">
            <a href="#" id="first">&laquo; Đầu</a>
            <a href="#" id="prev">&lsaquo; Trước</a>
            <span id="pages"></span>
            <a href="#" id="next">Tiếp &rsaquo;</a>
            <a href="#" id="last">Cuối &raquo;</a>
        </div>

    </div>
</body>