@page
@using PBL3_Project.Models
@model WebApplicationRAZOR.Pages.Parent.PHomeModel
@{
}

@{
    Layout = "_PLayout";
    ViewData["title"] ="Trang chủ Phụ huynh";
}

<link rel="stylesheet" href="~/css/main.css" />

<body>

    <div class="container">
        
        <img src="~/img/FilterSearch.png" alt="FilSearch" class="FilSearch">
        <!-- filter -->
        <form method="post">

      
        <div class="filter">


                <div class="form-control">
                    <label>Môn học:</label>
                    <input type="text" placeholder="Nhập môn học" asp-for="Model.MonHoc" name="MonHoc">
                    
                </div>

                <div class="form-control">
                    <label>Lớp:</label>
                    <input type="text" placeholder="Nhập lớp" asp-for="Model.Lop" name="Lop">

                </div>
            
                <div class="form-control">
                <label>Khu vực:</label>
                    <input type="text" placeholder="Nhập khu vực" asp-for="Model.KhuVuc" name="KhuVuc">
            </div>

                <div class="form-control">
                    <label>Học phí: (VNĐ)</label>
                    <input type="text" placeholder="Nhập học phí cao nhất" asp-for="Model.HocPhiMax" name="HocPhiMax">
                    <input type="text" placeholder="Nhập học phí thấp nhất" asp-for="Model.HocPhiMin" name="HocPhiMin">
                    </div>
            <div class="form-control">
                <label>Số học viên:</label>
                    <input type="text" placeholder="Nhập số học viên" asp-for="Model.SoHocVien" name="SoHocVien">

            </div>

            <div class="form-control">
                <label>Số buổi:</label>
                    <input type="text" placeholder="Nhập số buổi học" asp-for="Model.SoBuoi" name="SoBuoi">

            </div>

            <form method="post" >

                    <a asp-page="/Parent/PHome" class="btn btn-func1">Xóa tất cả</a>
                
                <button type="submit button" class="btn btn-func2" asp-page-handler="ByFilter"> Tìm kiếm</button>
                <a asp-page="/Parent/CreatePost" class="btn btn-create">Tạo bài đăng</a>
            </form>
        </div>
        </form>


        <style> 

            input[type="text"] {
                width: 180px;
                height: 30px;
                margin-bottom: 10px;
                padding: 5px;
                border: 1px solid #ccc;
                border-radius: 5px;
            }

            .btn-func1, .btn-func2 {
                background-color: #002182;
                width: 100px;
                height: 40px;
                border-radius: 5px;
                text-align: center;
                color: #ccc;
             }

            .btn-func2 {
                margin-left:130px;
                margin-top: -40px;
            }

        </style>
        <main>
            @foreach(var post in Model.Posts)
            {
                <partial name="_PostPH" model="post"></partial>
            }
        </main>


    </div>
</body>