@*@page
@model PBL3_Project.Pages.Parent.PInfoModel
@{
	Layout = "_PLayout";
    ViewData["title"] = "Trang chủ Phụ huynh";
}

  <link rel="stylesheet" href="~/css/hoSoGiaSu.css">
  <link rel="stylesheet" href="~/css/Personal.css" />


<body>

    <div class="container">
      <div class="control">
        <img class="avatar" src="image/avar.jpg" alt="Avatar" />
        <div class="user-info">
          <div class="username">ChuBeDan</div>
          <img src="image/iconControl.png" alt="Logo" class="iconControl" />
        </div>
      </div>

      <div class="menu">

        <div class="choice">
            <ul>
                    <a asp-page="/Parent/PInfor"><u>Thông tin tài khoản</u> </a>
                    </li>
                    <li>
                        <a asp-page="/Parent/PProfile"><u>Quản lý hồ sơ : <br><br></u></a>
                    </li>
                    <li>
                        <u> Quản lý bài đăng :<br><br></u>
                        <ul>
                            <li style="color: white;"><a asp-page="/Parent/PDuyetPost">Bài đăng được duyệt </a></li>
                            <li style="color: white;"><a asp-page="/Parent/PChuaDuyetPost">Bài đăng chờ duyệt</a></li>
                            <li style="color: white;"><a href="#">Suất dạy đã giao</a></li>
                </ul>
              </li>
            </ul>
          </div>
          
      </div>
    </div>

    <div class="container1">
      <img src="~img/background.png" alt="background" class="background" />
        <main>
            <form method="post">
                <div class="create-profile">
                    <div>
                        <label>Họ tên*</label>
                        <input type="text" asp-for="AddPInfor.TenPhuHuynh">
                    </div>
                    <div>
                        <label>Địa chỉ*</label>
                        <input type="text" asp-for="AddPInfor.DiaChi">
                    </div>

                    <div class="mb-3">
                        <label for="NgaySinh" class="form-label">Ngày sinh*</label>
                        <input type="date" class="form-control" id="NgaySinh" asp-for="AddPInfor.NgaySinh">
                    </div>

                    <div>
                        <label>Số điện thoại*</label>
                        <input type="text" asp-for="AddPInfor.SoDienThoai">
                    </div>

                    <div class="radio-container">
                        <div class="d-flex justify-content-between">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="flexradiodefault" id="GioiTinhNam" asp-for="AddPInfor.GioiTinh" value="true" checked>
                                <label class="form-check-label" for="GioiTinhNam">
                                    Nam<br /><br /><br /><br /><br /><br />
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="flexradiodefault" id="GioiTinhNu" asp-for="AddPInfor.GioiTinh" value="false">
                                <label class="form-check-label" for="GioiTinhNu">
                                    Nữ<br /><br /><br /><br /><br /><br />
                                </label>
                            </div>
                        </div>
                    </div>


                    @* <div class="mb-3 d-flex justify-content-between">
                    <button class="btn btn-primary" type="submit" asp-page-handler="Save">Lưu</button>
                    <button class="btn btn-danger" type="submit" asp-page-handler="Delete">Xóa</button>
                    </div>*@
                    @* <button class="Save-btn" type="submit" asp-asp-page-handler="Save">Lưu</button>
                    <button class="Del-btn">Xóa</button>*@
                   
                   
                    
@*                   
                    </div>
               
                    <button class="Save-btn" type="submit" asp-page-handler="Save">Lưu</button>

                    <button class="Del-btn" type="submit" asp-page-handler="Edit">Sửa</button>

                    <button class="btn" type="submit" asp-page-handler="Delete">Xóa</button>



                <style>
                    .main{
                        margin-top: -70%;
                    }
                    .radio-container {
                        display: flex;
                        justify-content: space-between;
                    }

                    .form-check {
                        display: flex;
                        align-items: center;
                    }

                    .form-check-input[type="radio"] {
                        position: absolute;
                        opacity: 0;
                    }

                    .form-check-label {
                        position: relative;
                        padding-left: 30px;
                        cursor: pointer;
                        margin-left:50px;
                        
                    }

                        .form-check-label:before {
                            content: "";
                            position: absolute;
                            left: 0;
                            top: 50%;
                            transform: translateY(-50%);
                            width: 20px;
                            height: 20px;
                            border-radius: 50%;
                            border: 2px solid #ccc;
                        }

                    .form-check-input[type="radio"]:checked + .form-check-label:before {
                        background-color: #000;
                        border-color: #000;
                    }
                </style>
               
            </form>
            

    </main>

    </div>
  </body>*@











@page
@model PBL3_Project.Pages.Parent.PInfoModel
@{
    Layout = "_PLayout";
    ViewData["title"] = "Trang chủ Phụ huynh";
}

<link rel="stylesheet" href="~/css/hoSoGiaSu.css">
<link rel="stylesheet" href="~/css/Personal.css" />


<body>

    <div class="container">
        <div class="control">
            <img class="avatar" src="image/avar.jpg" alt="Avatar" />
            <div class="user-info">
                <div class="username">ChuBeDan</div>
                <img src="image/iconControl.png" alt="Logo" class="iconControl" />
            </div>
        </div>

        <div class="menu">

            <div class="choice">
                <ul>
                    <a asp-page="/Parent/PInfor"><u>Thông tin tài khoản</u> </a>
                    </li>
                    <li>
                        <a asp-page="/Parent/PProfile"><u>Quản lý hồ sơ : <br><br></u></a>
                    </li>
                    <li>
                        <u> Quản lý bài đăng :<br><br></u>
                        <ul>
                            <li style="color: white;"><a asp-page="/Parent/PDuyetPost">Bài đăng được duyệt </a></li>
                            <li style="color: white;"><a asp-page="/Parent/PChuaDuyetPost">Bài đăng chờ duyệt</a></li>
                            <li style="color: white;"><a href="#">Suất dạy đã giao</a></li>
                        </ul>
                    </li>
                </ul>
            </div>

        </div>
    </div>

    <div class="container1">
        <img src="~img/background.png" alt="background" class="background" />
        <main>
            <form method="post">
                <div class="create-profile">
                    <div>
                        <label>Họ tên*</label>
                        <input type="text" asp-for="AddPInfor.TenPhuHuynh">
                    </div>
                    <div>
                        <label>Địa chỉ*</label>
                        <input type="text" asp-for="AddPInfor.DiaChi">
                    </div>

                    <div class="mb-3">
                        <label for="NgaySinh" class="form-label">Ngày sinh*</label>
                        <input type="date" class="form-control" id="NgaySinh" asp-for="AddPInfor.NgaySinh">
                    </div>

                    <div>
                        <label>Số điện thoại*</label>
                        <input type="text" asp-for="AddPInfor.SoDienThoai">
                    </div>

                    <div class="radio-container">
                        <div class="d-flex justify-content-between">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="flexradiodefault" id="GioiTinhNam" asp-for="AddPInfor.GioiTinh" value="true" checked>
                                <label class="form-check-label" for="GioiTinhNam">
                                    Nam<br /><br /><br /><br /><br /><br />
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="flexradiodefault" id="GioiTinhNu" asp-for="AddPInfor.GioiTinh" value="false">
                                <label class="form-check-label" for="GioiTinhNu">
                                    Nữ<br /><br /><br /><br /><br /><br />
                                </label>
                            </div>
                        </div>
                    </div>


                    @* <div class="mb-3 d-flex justify-content-between">
                    <button class="btn btn-primary" type="submit" asp-page-handler="Save">Lưu</button>
                    <button class="btn btn-danger" type="submit" asp-page-handler="Delete">Xóa</button>
                    </div>*@
                    @* <button class="Save-btn" type="submit" asp-asp-page-handler="Save">Lưu</button>
                    <button class="Del-btn">Xóa</button>*@


                <button class="Save-btn" width: 56px  type="submit" asp-page-handler="Save">Lưu</button>

@*                <button class="Save-btn" type="submit" asp-page-handler="Edit">Sửa</button>*@

                <button class="Save-btn" type="submit" asp-page-handler="Delete">Xóa</button>

                </div>





                <style>


                    .main {
                        margin-top: -70%;
                    }

                    .radio-container {
                        display: flex;
                        justify-content: space-between;
                    }

                    .form-check {
                        display: flex;
                        align-items: center;
                    }

                    .form-check-input[type="radio"] {
                        position: absolute;
                        opacity: 0;
                    }

                    .form-check-label {
                        position: relative;
                        padding-left: 30px;
                        cursor: pointer;
                        margin-left: 50px;
                    }

                        .form-check-label:before {
                            content: "";
                            position: absolute;
                            left: 0;
                            top: 50%;
                            transform: translateY(-50%);
                            width: 20px;
                            height: 20px;
                            border-radius: 50%;
                            border: 2px solid #ccc;
                            margin-left: 10px;
                        }

                    .form-check-input[type="radio"]:checked + .form-check-label:before {
                        background-color: #000;
                        border-color: #000;
                    }
                </style>

            </form>


        </main>

    </div>
</body>