@page
@model PBL3_Project.Pages.Parent.PReviewModel
@{
    Layout = "_PLayout";
    ViewData["title"] = "Trang chủ Phụ huynh";
}

<link rel="stylesheet" href="~/css/main.css">
<link rel="stylesheet" href="~/css/createPost.css" />
<link rel="stylesheet" href="~/css/Personal.css" />


<body>

    <div class="container">

        <!-- filter -->
        <div class="filter">

            <div class="form-control">
                <label>Môn học:</label>
                <select>
                    <option value="math">Toán</option>
                    <option value="physics">Vật lý</option>
                    <option value="chemistry">Hóa học</option>
                    <option value="history">Ngữ văn</option>
                    <option value="english">Tiếng Anh</option>
                    <option value="english">Tiếng Trung</option>
                    <option value="history">Lịch sử</option>
                    <option value="history">Sinh học</option>
                </select>
            </div>
            <div class="form-control">
                <label>Lớp:</label>
                <select>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>

                </select>
            </div>
            <div class="form-control">
                <label>Khu vực:</label>
                <select>
                    <option value="hanoi">Hà Nội</option>
                    <option value="hochiminh">TP Hồ Chí Minh</option>
                    <option value="danang">Đà Nẵng</option>
                </select>
            </div>

            <div class="form-control">
                <label>Học phí:</label>
                <input id="inputrange" type="range" value="0" min="0" max="1000" oninput="this.nextElementSibling.value = this.value">
                <output class="fee">0</output>
                <output class="fee">.000 (VNĐ/h)</output>
            </div>

            <div class="form-control">
                <label>Số học viên:</label>
                <input id="inputrange" type="range" value="0" min="0" max="20" oninput="this.nextElementSibling.value = this.value">
                <output class="fee">0</output>

            </div>

            <div class="form-control">
                <label>Số buổi:</label>
                <input id="inputrange" type="range" value="0" min="0" max="7" oninput="this.nextElementSibling.value = this.value">
                <output class="fee">0</output>

            </div>


        </div>

        <div class="container1">

            <h1 class="myPost">Đánh giá của tôi</h1>
            <main>


                <form method="post" asp-page-handler="SubmitForm" style="margin-top:300px">
                    <div class="create-profile">
                        <div>
                            <label>ID_GiaSu*</label>
                            <input type="text" asp-for="AddPhanHoiRequest.ID_GiaSu">
                        </div>
                        <div>
                            <label>ID_PhuHuynh*</label>
                            <input type="text" asp-for="AddPhanHoiRequest.ID_PhuHuynh">
                        </div>
                        <div>
                            <label>Nội dung phản hồi*</label>
                            <input type="text" asp-for="AddPhanHoiRequest.NoiDungPhanHoi">
                        </div>
                        <div>
                            <label>Điểm đánh giá*</label>
                            <input type="text" asp-for="AddPhanHoiRequest.DiemDanhGia">
                        </div>


                        
                        <button class="btn btn-primary custom-button" type="submit" asp-page-handler="PhanHoi">Gửi</button>

                        <style>
                            .custom-button {
                                color: #000;
                                background-color: #fff;
                            }

                                .custom-button.btn-primary {
                                    background-color: #007bff;
                                    border-color: #007bff;
                                    width: 70px;
                                    height: 70px;
                                    margin-left: 105px;
                                    padding: 0;
                                }

                                .custom-button.text-dark {
                                    color: #000;
                                }
                        </style>

                </form>
        </div>

        </main>
    </div>

    </div>
</body>
